<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="basic_camera" params="namespace end_effector">

        <link name="${namespace}basic_camera_link">
        <inertial>
          <mass value="1"/>
          <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <collision>
          <geometry>
            <box size="0.01 0.01 0.01"/> 
          </geometry>
        </collision>
        <visual>
          <geometry>
            <box size="0.01 0.01 0.01"/> 
          </geometry>
        </visual>
      </link>

      <joint name="${namespace}basic_camera_joint" type="fixed">
        <parent link="${namespace}${end_effector}"/> 
        <child link="${namespace}basic_camera_link"/>
        <origin rpy="0 ${radians(-90)} 0" xyz="0 0 0.01"/>
      </joint>

      <gazebo reference="${namespace}basic_camera_link">
        <!-- Sensor RGB -->
        <sensor name="${namespace}basic_camera_rgb" type="camera">
          <camera>
            <horizontal_fov>1.6</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
              <format>R8G8B8</format>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
          </camera>
          <always_on>1</always_on>
          <update_rate>30</update_rate>
          <visualize>true</visualize>
          <topic>${namespace}basic_camera/rgb</topic>
        </sensor>

        <!-- Sensor Depth -->
        <sensor name="${namespace}basic_camera_depth" type="depth">
          <camera>
            <horizontal_fov>1.6</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
          </camera>
          <always_on>1</always_on>
          <update_rate>30</update_rate>
          <visualize>false</visualize>
          <topic>${namespace}basic_camera/depth</topic>
        </sensor>
      </gazebo>
    </xacro:macro>
</robot>